
<% include ./partials/header.ejs %>

    <div class="bg-slate-100 tracking-tight font-mono flex justify-center items-center width-[100vw] h-[100vh]">
      <div class="bg-white rounded-3xl h-max w-[30%] box-border p-2">
         <div class="flex justify-center items-center">
          <img class="h-16 w-fit" src="/images/pinterest-png.webp" alt="">
         </div>
          <h1 class="text-center py-5 font-semibold text-3xl">Create New Account</h1>
          <form action="/register" method="post">
            <div class="flex justify-center items-center flex-col">

              <input type="text" name="username"  class="my-2 text-lg h-[50px] w-[70%] rounded-2xl pl-2 border-gray-500 border-2 focus:outline-blue-300 focus:outline-4 focus:outline border-opacity-50 font-semibold" placeholder="Username">
              <input type="text" name="profilename"  class="my-2 text-lg h-[50px] w-[70%] rounded-2xl pl-2 border-gray-500 border-2 focus:outline-blue-300 focus:outline-4 focus:outline border-opacity-50 font-semibold" placeholder="User Profile Name">
              <input type="number" name="contact"  class="my-2 text-lg h-[50px] w-[70%] rounded-2xl pl-2 border-gray-500 border-2 focus:outline-blue-300 focus:outline-4 focus:outline border-opacity-50 font-semibold" placeholder="Contact">
              <input type="email" name="email"  class="my-2 text-lg w-[70%] h-[50px] rounded-2xl pl-2 border-gray-500 border-opacity-50 focus:outline-blue-300 focus:outline-4 focus:outline font-semibold border-2" placeholder="Email">
              <input type="password" name="password"  class="my-2 text-lg w-[70%] h-[50px] rounded-2xl pl-2 border-gray-500 border-opacity-50 focus:outline-blue-300 focus:outline-4 focus:outline font-semibold border-2" placeholder="Password">
            </div>
            <div class="w-full h-10 mt-1 flex justify-center items-center">
              <button type="submit" class="bg-red-600 p-2 text-white font-semibold text-xl box-border rounded-3xl w-[75%] h-max hover:bg-red-700">Create New Account</button>
            </div>
          </form>
          <div class="flex justify-center mt-10 text-base flex-col items-center">
            <p>By continuing, you agree to Pinterest's</p>
            <p> <span class="font-bold">Terms of Service</span> acknowledge you've read our</p>
            <p class="font-bold">Privacy Policy. Notice at collection.
            </p>
          </div>
          <div class="font-bold flex text-lg justify-center items-center">
            <p class="mx-2">Already on Pinterest?</p>
            <a class="underline" href="/login">Log In</a>
          </div>
      </div>
    </div>

<% include ./partials/footer.ejs %>
